@media (max-width: 1100px) {
}
@media (max-width: 991px) {
  .hero-content {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
    padding: 0 20px;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    text-align: center;
    width: 100%;
    padding-left: 0px;
    padding-top: 40px;
  }
  h3 {
    font-size: 24px;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .hero-content h1 {
    font-size: 36px;
  }
  .hero-content p {
    font-size: 16px;
  }
  .btn {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
}
